style.css
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
.navbar{
	width: 90%;
	padding: 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
  	top: 0;
  	left: 50%;
 	transform: translateX(-50%);
  	z-index: 10;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 20px;
	cursor: pointer;
}
.navbar ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	padding: 15px;
	border-radius: 50px;
}
li a:hover{
	background: #481f01;
	transition: 0.5s;
}
.navbar a:hover{
	color: white;
}

body{
	background: #black;
	color: #fff;
	margin-left: 350px;
}
.container{
	padding: 50px 0;
	width: auto;
}
.wrapper{
	padding: 10px 10%;
	width: auto;
}
.card-area{
	display: grid;
	margin-top: 50px;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax, 250px, 1fr);
	width: auto;
}
.card{
	position: relative;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
	overflow: hidden;
	width: 350px;
}
.card img{
	height: 350px;
	width: auto;
	display: block;
	border-radius: 10px;
	transition: transform 0.5s;
}
.overlay{
	height: 0;
	width: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 10px;
	display: flex;
	background: linear-gradient(transparent, #0F2573 60%);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
	overflow: hidden;
}
.overlay h3{
	margin-top: 55%;
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 2px;
}
.overlay a{
	margin-top: 10px;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
	color: #0F2573;
	background: #fff;
	border-radius: 50px;
	text-align: center;
	padding: 5px 15px;
}
.card:hover img{
	transform: scale(1.2);
}
.card:hover .overlay{
	height: 100%;
	width: auto;
}
.background{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: repeating-linear-gradient(#0504aa, #fdf243);
	opacity: 50%;
	z-index: -100;
}
body::-webkit-scrollbar {
    background-color: transparent;
}
    
body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50px;    
}
    
body::-webkit-scrollbar-track {
        margin-block: 20px;
        margin-right: 5px;
}
