body {
    background-image: url(../Sources/test-room.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 1300px;
    background-color: hsl(0, 0%, 5%);
    user-select: none;
}

p {
    color: white;
}

a {
    text-decoration: none;
}

.Title {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    position: fixed
}

.Header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding-bottom: 30px;
    background: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0));
    height: 80px;
}

.navbutton {
    margin-top: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.navPage {
    top: 70px;
    right: 0;
    margin-right: -250px;
    position: fixed;
    background-color: hsl(0, 0%, 16%);
    height: 100px;
    border: 1px solid black;
    padding-inline: 10px;
    overflow: hidden;
    width: 200px;
}

.room-picture-container {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding-left: 0;
    border: 0;
    overflow: hidden;
    z-index: -1;
}

.startDescription {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: black;
}

.enterButton {
    padding: 20px 70px;
    border-radius: 50px;
    margin-top: -90px;
    font-size: larger;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    
}

.enterButton:hover {
    box-shadow: 0 0 50px white;
    padding: 18px 60px;
    transition: 0.3s;
}
